<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="nav-close">
        <i class="fa fa-times-circle"></i>
    </div>
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element" style="text-align:center;">
                    <input type="file" id="btn_file3" name="consignerRdFile" accept="image/jpg,image/jpeg,image/gif,image/png"
                   style="display:none" >
                   <if condition="$uimage ==''">
                        <span><img alt="image" class="img-circle" id="img-circle2" src="/static/images/profile_small.jpg" style="width:50px;height:50px" /></span>
                    <else/>
                        <span><img alt="image" class="img-circle" id="img-circle2" src="{$uimage}" style="width:50px;height:50px" /></span>
                    </if>
                   <!--  <span class="glyphicon glyphicon-user" aria-hidden="true"
                          style="font-size:50px;color:#1ab394;text-shadow:1px 2px 2px #1c84c6;"></span> -->
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs"><strong class="font-bold">{$Request.session.user_login}</strong></span>
                            <span class="text-muted text-xs block">{$Request.session.role_name}<b
                                    class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li>
                            <a class="fixed" href="javascript:">修改密码</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{:url('admin/index/loginOut')}">安全退出</a>
                        </li>
                    </ul>
                </div>
                <div class="logo-element">
                    <i class="fa fa-home"></i>
                </div>
            </li>
            <volist name="menu" id="parent">
                <if condition="check_auth($parent['controller'])">
                    <li>
                        <a href="#">
                            <i class="fa {$parent['icon']}"></i>
                            <span class="nav-label">{$parent['name']}</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <volist name="parent.child" id="child">
                                <if condition="check_auth($child['action'])">
                                    <li>
                                        <a class="J_menuItem" href="{:url($child['action'])}">{$child['name']}</a>
                                    </li>
                                </if>
                            </volist>
                        </ul>
                    </li>
                </if>
            </volist>
        </ul>
    </div>
</nav>

<div id="user-modal-form1" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="customer_form" action="" method="post" onsubmit="return false;">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">修改头像</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                            <input type="file" id="btn_file1" multiple name="File[]" accept="image/jpg,image/jpeg,image/gif,image/png" style="display:none" >

                                  <if condition="$uimage ==''">
                                    <span><img alt="image" class="img-circle1" id="img-circle1" src="/static/images/profile_small.jpg" style="width:50px;height:50px" /></span>
                                    <else/>
                                    <span><img alt="image" class="img-circle1" id="img-circle1" src="{$uimage}" style="width:50px;height:50px" /></span>
                                  </if>
                            </div>
                            
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="handle_type" name="handle_type" value="add"/>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary" onclick="fixpic();">确定</button>
                </div>
            </form>
        </div>
    </div>
</div>

<div id="user-modal-form" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="user_form" action="" method="post" onsubmit="return false;">
                <div class="modal-header">
                    <span class="refresh-btn" onclick="refresh_form('user_form');"><i class="fa fa-refresh"></i></span>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">修改密码</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label id="user_pass_tip">原来密码：</label>
                                <input type="text" placeholder="输入密码" name="old_pass" value="" id="old_pass"
                                       class="form-control">
                            </div>
                            <div class="form-group">
                                <label id="confirm_pass_tip">现在密码：</label>
                                <input type="text" placeholder="确认密码" name="now_pass" value="" id="now_pass"
                                       class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="handle_type" name="handle_type" value="add"/>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary" onclick="userSubmit();">确定</button>
                </div>
            </form>
        </div>
    </div>
</div>

<js href="/static/js/admin/jquery.min.js"/>
<js href="/static/js/admin/plugins/layui/layer/layer.js"/>

<script>
    $(document).ready(function () {
        $(".fixed").on('click', function () {
            $("#user-modal-form").modal('show');
        });
        $(".img-circle").on('click', function () {
            $("#user-modal-form1").modal('show');
        });
        $(".img-circle1").on('click', function () {
            $("#btn_file1").click();
        });

        var fileUpload = document.getElementById("btn_file1")
        fileUpload.addEventListener('change', function(e){
            user_imgchanged("btn_file1","img-circle1");
        });

    });

    function user_imgchanged(imgselect, imgshow) {
        var img = document.getElementById(imgshow);
        var url = null;
        var fileObj = document.getElementById(imgselect).files[0];
        if (window.createObjcectURL != undefined) {
            url = window.createOjcectURL(fileObj);
        } else if (window.URL != undefined) {
            url = window.URL.createObjectURL(fileObj);
        } else if (window.webkitURL != undefined) {
            url = window.webkitURL.createObjectURL(fileObj);
        }
        img.src = url;
    }
    
    // 头像修改
    function fixpic(){
        var formData = new FormData(document.getElementById('customer_form'));
        var url = "{:url('admin/System/fixpic')}";
        $.ajax({
            url: url,
            type: 'post',
            processData: false, // 异步传输 formData 时要加上  processData: false  contentType: false
            contentType: false, // 否则会报 Illegal invocation 非法调用错误
            data: formData,
            success: function (data) {
                if (data.code == 1) {
                    layer.msg(data.msg, {
                        time: 1000,
                        icon: 6
                    });
                    user_imgchanged("btn_file1","img-circle2");
                    $("#user-modal-form1").modal('hide');
                } else {

                    layer.msg(data.msg, {
                        time: 1000,
                        icon: 5
                    });
                }
            },
            dataType: 'json'
        });
    }


    function userSubmit() {
        if ($.trim($("input[name='now_pass']").val()) == '') {

            layer.msg('密码不能为空', {time: 500, icon: 5});
            return false;
        }

        var old = $("#old_pass").val();
        var now = $("#now_pass").val();
        $.post("{:url('admin/System/fixPassword')}", {
            now_pass: now,
            old_pass: old
        }, function (data) {
            if (data.code == 1) {
                layer.msg(data.msg, {time: 1000, icon: 1});
                $("#user-modal-form").modal('hide');
            } else {
                layer.msg(data.msg, {time: 1000, icon: 2});
            }

        });
    }
</script>