<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="nav-close">
        <i class="fa fa-times-circle"></i>
    </div>
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element" style="text-align:center;">
                    <!-- <span><img alt="image" class="img-circle" src="/static/images/profile_small.jpg" /></span> -->
                    <span class="glyphicon glyphicon-user" aria-hidden="true"
                          style="font-size:50px;color:#1ab394;text-shadow:1px 2px 2px #1c84c6;"></span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs"><strong class="font-bold">{$Request.session.user_login}</strong></span>
                            <span class="text-muted text-xs block">{$Request.session.role_name}<b
                                    class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li>
                            <a class="fixed" href="javascript:">修改密码</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{:url('admin/index/loginOut')}">安全退出</a>
                        </li>
                    </ul>
                </div>
                <div class="logo-element">
                    <i class="fa fa-home"></i>
                </div>
            </li>
            <volist name="menu" id="parent">
                <if condition="check_auth($parent['controller'])">
                    <li>
                        <a href="#">
                            <i class="fa {$parent['icon']}"></i>
                            <span class="nav-label">{$parent['name']}</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <volist name="parent.child" id="child">
                                <if condition="check_auth($child['action'])">
                                    <li>
                                        <a class="J_menuItem" href="{:url($child['action'])}">{$child['name']}</a>
                                    </li>
                                </if>
                            </volist>
                        </ul>
                    </li>
                </if>
            </volist>
        </ul>
    </div>
</nav>

<div id="user-modal-form" class="modal fade" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form id="user_form" action="" method="post" onsubmit="return false;">
                <div class="modal-header">
                    <span class="refresh-btn" onclick="refresh_form('user_form');"><i class="fa fa-refresh"></i></span>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">修改密码</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label id="user_pass_tip">原来密码：</label>
                                <input type="text" placeholder="输入密码" name="old_pass" value="" id="old_pass"
                                       class="form-control">
                            </div>
                            <div class="form-group">
                                <label id="confirm_pass_tip">现在密码：</label>
                                <input type="text" placeholder="确认密码" name="now_pass" value="" id="now_pass"
                                       class="form-control">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <input type="hidden" id="handle_type" name="handle_type" value="add"/>
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-primary" onclick="userSubmit();">确定</button>
                </div>
            </form>
        </div>
    </div>
</div>

<js href="/static/js/admin/jquery.min.js"/>
<js href="/static/js/admin/plugins/layui/layer/layer.js"/>

<script>
    $(document).ready(function () {
        $(".fixed").on('click', function () {
            $("#user-modal-form").modal('show');
        });
    });

    function userSubmit() {
        if ($.trim($("input[name='now_pass']").val()) == '') {

            layer.msg('密码不能为空', {time: 500, icon: 5});
            return false;
        }

        let old = $("#old_pass").val();
        let now = $("#now_pass").val();
        $.post("{:url('admin/System/fixPassword')}", {
            now_pass: now,
            old_pass: old
        }, function (data) {
            if (data.code == 1) {
                layer.msg(data.msg, {time: 1000, icon: 1});
                $("#user-modal-form").modal('hide');
            } else {
                layer.msg(data.msg, {time: 1000, icon: 2});
            }

        });
    }
</script>