<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <title></title>

    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="/favicon.ico"/>
    <css href="/static/css/admin/bootstrap.min14ed.css"/>
    <css href="/static/css/admin/font-awesome.min93e3.css"/>
    <css href="/static/css/admin/animate.min.css"/>
    <css href="/static/css/admin/plugins/summernote/new_sumnote.css"/>
    <css href="/static/css/admin/plugins/summernote/summernote-bs3.css"/>
    <css href="/static/css/admin/plugins/chosen/chosen.css"/>
    <css href="/static/css/admin/plugins/datapicker/datepicker3.css"/>
    <css href="/static/css/admin/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css"/>
    <css href="/static/css/admin/style.min862f.css"/>
    <link href="/static/css/admin/admincommon.css?v=20181116" rel='stylesheet' type='text/css'/>
</head>
<body class="gray-bg">

<div id="myTabContent" class="tab-content">

    <div class="wrapper wrapper-content tab-pane fade in active" id="home">
        <form id="customer_form" class="form-horizontal" onsubmit="return false;">
            <div class="row">

                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-1 control-label">名称</label>
                        <div class="input-group col-sm-5">
                            <input type="text" name="name" id="name" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">其他名称</label>
                        <div class="input-group col-sm-5">
                            <input type="text" name="othername" id="othername" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">地址：</span></label>
                        <div class="input-group col-sm-6">
                            <div id="cnMap">
                                <div class="col-sm-3">
                                    <select name="province" class="province form-control"
                                            data-first-title="选择省份" id="province" style="margin-left: 0px"></select>
                                </div>
                                <div class="col-sm-3">
                                    <select name="city" id="city" class="city form-control"></select>
                                </div>
                                <div class="col-sm-3">
                                    <select name="area" id="area" class="region form-control"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">详细地址</label>
                        <div class="input-group col-sm-5">
                            <input type="text" name="details" id="details" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">医院编码</label>
                        <div class="input-group col-sm-5">
                            <input type="text" name="code" id="code" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">行政级别</label>
                        <div class="input-group col-sm-5">
                            <input type="text" name="level" id="level" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">开发情况：</label>
                        <div class="radios">
                            <label class="radio-inline">
                                <input type="radio" checked value="空白网点" id="development1" class="radio"
                                       name="development">空白网点</label>
                            <label class="radio-inline">
                                <input type="radio" value="签约网点" id="development2" name="development" class="radio">签约网点</label>
                            <label class="radio-inline">
                                <input type="radio" value="开发网点" id="development3" name="development" class="radio">开发网点</label>
                            <label class="radio-inline">
                                <input type="radio" value="僵尸网点" id="development4" name="development" class="radio">僵尸网点</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">性质：</label>
                        <div class="radios">
                            <label class="radio-inline">
                                <input type="radio" checked value="公立" id="quality1" name="quality"
                                       class="radio">公立</label>
                            <label class="radio-inline">
                                <input type="radio" value="私立" id="quality2" name="quality" class="radio">私立</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">是否分院：</label>
                        <div class="radios">
                            <label class="radio-inline">
                                <input type="radio" checked value="1" id="divided1" name="divided"
                                       class="radio">是</label>
                            <label class="radio-inline">
                                <input type="radio" value="2" id="divided2" name="divided" class="radio">否</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-1 control-label">主院名称：</label>
                        <div class="input-group col-sm-5">
                            <input type="text" name="hostname" id="hostname" class="form-control" list="hospital">
                            <datalist id="hospital">
                                <volist name="hospital" id="vo">
                                    <option>{$vo.name}</option>
                                </volist>
                            </datalist>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-2 col-sm-offset-2">
                    <input type="hidden" id="article_id" value="{$data['id'] | default = ''}"/>
                    <input type="hidden" id="handle_type" value="{$handle_type}"/>
                    <button class="btn btn-primary" type="submit" onclick="save();">保存</button>
                </div>
            </div>
        </form>
    </div>

</div>
<js href="/static/js/admin/jquery.min.js"/>
<js href="/static/js/admin/bootstrap.min.js"/>
<js href="/static/js/admin/content.min.js"/>
<js href="/static/js/admin/plugins/chosen/chosen.jquery.js"/>
<js href="/static/js/admin/plugins/summernote/new_sumnote.js"/>
<js href="/static/js/admin/plugins/summernote/summernote-zh-CN.js"/>
<js href="/static/js/admin/plugins/layui/layer/layer.js"/>
<js href="/static/js/admin/plugins/datapicker/bootstrap-datepicker.js"/>

<js href="/static/js/cxjs/jquery.cxselect.min.js"/>

<script>
    $(document).ready(function () {
        $('#cnMap').cxSelect({
            url: '/static/js/cxjs/cityData.min.json',
            selects: ['province', 'city', 'region'],
            nodata: 'none'
        });

        $('#cnMap').cxSelect({
            url: '/static/js/cxjs/cityData.min.json',
            selects: ['province', 'city', 'region'],
            nodata: 'none'
        });

    });


    function save() {

        if ($.trim($("input[name='name']").val()) == '') {

            layer.msg('请填写名称', {
                time: 1000,
                icon: 2
            });

            return false;
        }


        if (!$("#code").val()) {

            layer.msg('请填写医院编码', {
                time: 1000,
                icon: 2
            });

            return false;
        }

        if (!$("#level").val()) {

            layer.msg('请填写医院级别', {
                time: 1000,
                icon: 2
            });

            return false;
        }

        if (!$("#details").val()) {

            layer.msg('请填写详细地址', {
                time: 1000,
                icon: 2
            });

            return false;
        }


        var formData = new FormData(document.getElementById('customer_form'));
        var url = "{:url('admin/Hospital/addHospital')}";

        $.ajax({
            url: url,
            type: 'post',
            processData: false, // 异步传输 formData 时要加上  processData: false  contentType: false
            contentType: false, // 否则会报 Illegal invocation 非法调用错误
            data: formData,
            success: function (data) {

                if (data.code == 1) {

                    layer.msg(data.msg, {
                        time: 1000,
                        icon: 6
                    });
                    window.parent.location.reload();
                    var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                    parent.layer.close(index); //再执行关闭
                } else {

                    layer.msg(data.msg, {
                        time: 1000,
                        icon: 5
                    });
                }
            },
            dataType: 'json'
        });
    }
</script>
<style>
    .radio {
        margin-top: -2px;
    }
</style>
</body>
</html>
