<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <title>客情维护</title>

    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="/favicon.ico"/>
    <!--[if lt IE 9]>
    <meta http-equiv="refresh" content="0;ie.html"/>
    <![endif]-->

    <css href="/static/css/admin/bootstrap.min14ed.css"/>
    <css href="/static/css/admin/font-awesome.min93e3.css"/>
    <css href="/static/css/admin/plugins/dataTables/dataTables.bootstrap.css"/>
    <css href="/static/css/admin/animate.min.css"/>
    <css href="/static/css/admin/style.min862f.css"/>
    <link href="/static/css/admin/admincommon.css?v=20180820" rel='stylesheet' type='text/css'/>
</head>


<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>客情维护</h5>
                    <if condition="check_auth('admin/Customerrelationxs/addCustomerrelation')">
                        <button id="toggle_modal" class="btn btn-primary btn-circle" type="button"
                                style="margin-bottom:0px;margin-left:10px;position:relative;top:-5px;" title="添加">
                            <i class="fa fa-edit"></i>+
                        </button>
                    </if>
                    <div class="ibox-tools">
                        <a href="javascript:location.replace(location.href);" class="btn btn-primary btn-circle"
                           type="button"
                           style="margin-bottom:0px;margin-right:10px;position:relative;top:-5px;" title="刷新">
                            <i class="fa fa-refresh"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form action="" method="post">
                        <div class="form-group">
                            <select class="form-control m-b selectnum" name="status"
                                    style="display: inline-block;width: 200px;margin-right: 25px;">
                                <if condition="$status==0">
                                    <option value="0" selected>全部</option>
                                    <option value="1">待审</option>
                                    <option value="2">通过</option>
                                    <option value="3">不通过</option>
                                    <elseif condition="$status==1"/>
                                    <option value="0">全部</option>
                                    <option value="1" selected>待审</option>
                                    <option value="2">通过</option>
                                    <option value="3">不通过</option>
                                    <elseif condition="$status==2"/>
                                    <option value="0">全部</option>
                                    <option value="1">待审</option>
                                    <option value="2" selected>通过</option>
                                    <option value="3">不通过</option>
                                    <else/>
                                    <option value="0">全部</option>
                                    <option value="1">待审</option>
                                    <option value="2">通过</option>
                                    <option value="3" selected>不通过</option>
                                </if>
                            </select>
                            <div class="form-group col-sm-3" style="padding-left:0px;"
                                 style="display: inline-block;">
                                <input type="text" id="keywords" name="keywords" value="{$keywords}"
                                       placeholder="输入日期" class="form-control" onkeyup="searchTitle(this);"/>
                            </div>

                            <button type="submit" class="btn btn-xm btn-primary"
                                    style="display: inline-block;">搜索
                            </button>

                        </div>
                    </form>
                    <table id="mytable"
                           class="table table-striped table-bordered table-hover dataTables-example">
                        <thead align="center">
                        <tr>

                            <th style="text-align:center;">编号</th>
                            <th style="text-align:center;">客户姓名</th>
                            <th style="text-align:center;">医院</th>
                            <th style="text-align:center;">维护措施</th>
                            <th style="text-align:center;">时间</th>
                            <th style="text-align:center;">图片</th>
                            <th style="text-align:center;">员工</th>
                            <th style="text-align:center;">状态</th>
                            <th style="text-align:center;">操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <volist name="data" id="vo" key="i">
                            <tr class="gradeX" id="Customerrelation-{$vo['id']}">

                                <td align="center">{$i}</td>
                                <td align="center"> {$vo['customer']}</td>
                                <td align="center">{$vo['hospital']}</td>
                                <td align="center">{$vo['todo']}</td>
                                <td align="center">{$vo['dates']}</td>
                                <td align="center">
                                    <a target=_blank href="{$vo['pics']}">
                                        <if condition="$vo['pics'] != '' ">
                                            <?php $ar = explode(',', $vo['pics']); foreach($ar as $val){ ?>
                                                <a target="_blank" href="{$val}"><image src="{$val}" style="width: 45px;height: 45px"></image></a>
                                            <?php } ?>
                                        </if>

                                    </a>
                                </td>
                                <td align="center">{$vo['employee']}</td>
                                <td align="center">
                                    <if condition="$vo['status'] == 1"><span> 待审</span>
                                        <elseif condition="$vo['status'] == 2"/><span style="color: green">通过</span>
                                            <else/>
                                            <span style="color: red;"><span style="color: red">不通过 </span>
                                    </if>
                                </td>
                                <td class="center" align="center">
                                    <div class="btn-group">
                                        <button data-toggle="dropdown"
                                                class="btn btn-primary btn-xs dropdown-toggle"
                                                aria-expanded="false">操作 <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu">
                                            <if condition="check_auth('admin/Customerrelation/CustomerrelationDetails')">
                                                <li><a href="javascript:" data-id="{$vo['id']}"
                                                       class="font-bold CustomerrelationDetails">编辑</a>
                                                </li>
                                            </if>
                                            <if condition="check_auth('admin/Customerrelation/delCustomerrelation')">
                                                <li data-id="{$vo['id']}" class="font-bold del-article"><a
                                                        href="javascript:">删除</a></li>
                                            </if>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </volist>
                        </tbody>

                    </table>
                    {$page}
                </div>
            </div>
        </div>
    </div>
    <div style="display:none;" id="checkdiv">
        <div style="display:inline-block">
            <input type="radio" name="type" style="display: inline-block;">
            <input type="radio" name="type" style="display: inline-block;">
            <input type="radio" name="type" style="display: inline-block;">
        </div>
    </div>
</div>
<js href="/static/js/admin/jquery.min.js"/>
<js href="/static/js/admin/bootstrap.min.js"/>
<js href="/static/js/admin/content.min.js"/>
<js href="/static/js/admin/plugins/layui/layer/layer.js"/>
<script type="text/javascript" src="/static/js/admin/admincommon.js?v=20180820"></script>

<script>
    $(document).ready(function () {
        //document.body.innerHTML = document.body.innerHTML.replace(/会议/g, '大大');
        sessionStorage.setItem("TabNum", 0);

        //  详情
        $(".ibox-content").on('click', '.CustomerrelationDetails', function () {

            var addIndex = layer.open({
                title: '详情',
                offset: ['120px', '220px'],
                isOutAnim: true,
                type: 2,
                content: "{:url('admin/Customerrelation/editCustomerrelation')}?id=" + $(this).data('id'),
                area: ['800px', '400px'],
                maxmin: true
            });

            layer.full(addIndex);
        })

        // 删除
        $(".ibox-content").on('click', '.del-article', function () {
            var Customerrelation_id = $(this).data("id");
            layer.confirm("你确定要删除吗？", {

                btn: ['确定', '取消'] //按钮

            }, function () {

                $.post("{:url('admin/Customerrelation/delCustomerrelation')}", {
                    id: Customerrelation_id
                }, function (data) {

                    if (data.code == 1) {
                        layer.msg(data.msg, {
                            time: 1000,
                            icon: 1
                        });

                        $("#Customerrelation-" + Customerrelation_id).remove();

                    } else {

                        layer.msg(data.msg, {
                            time: 1000,
                            icon: 2
                        });

                    }

                }, 'json');

            });
        });


        //  新增
        $("#toggle_modal").on('click', function () {

            var addIndex = layer.open({
                title: '新增',
                offset: ['120px', '220px'],
                isOutAnim: true,
                type: 2,
                content: "{:url('admin/Customerrelation/addCustomerrelation')}?type=add",
                area: ['800px', '400px'],
                maxmin: true
            });

            layer.full(addIndex);

        });

        //  会议
        $(".ibox-content").on('click', '.innerMeettings', function () {

            var addIndex = layer.open({
                title: '会议',
                offset: ['120px', '220px'],
                isOutAnim: true,
                type: 2,
                content: "{:url('admin/Customerrelation/innerMeettings')}?id=" + $(this).data('id'),
                area: ['800px', '400px'],
                maxmin: true
            });

            layer.full(addIndex);

        });


    });

    function searchTitle(obj) {
        var keywords = $.trim($(obj).val());

        if (keywords.length <= 0) {
            window.location.replace(location.href);
        }
    }

    // 隐藏恢复和彻底删除按钮
    function hideButton() {
        var num = $('.selectnum').val();
        if (num == 3) {
            document.getElementById('btn1').style.display = "inline-block";
            document.getElementById('btn2').style.display = "inline-block";
        } else {
            document.getElementById('btn1').style.display = "none";
            document.getElementById('btn2').style.display = "none";
        }
        return 1;

    }


</script>

</body>
</html>
