<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <title>会议详情</title>

    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="/favicon.ico"/>
    <css href="/static/css/admin/bootstrap.min14ed.css"/>
    <css href="/static/css/admin/font-awesome.min93e3.css"/>
    <css href="/static/css/admin/animate.min.css"/>
    <css href="/static/css/admin/plugins/summernote/new_sumnote.css"/>
    <css href="/static/css/admin/plugins/summernote/summernote-bs3.css"/>
    <css href="/static/css/admin/plugins/chosen/chosen.css"/>
    <css href="/static/css/admin/plugins/datapicker/datepicker3.css"/>
    <css href="/static/css/admin/plugins/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css"/>
    <css href="/static/css/admin/style.min862f.css"/>
    <link href="/static/css/admin/admincommon.css?v=20181116" rel='stylesheet' type='text/css'/>
    <css href="/static/css/admin/meetting.css"/>


</head>
<style type="text/css">
    .chosen-container-multi {
        margin-left: 16px;
    }
</style>
<body class="gray-bg">

<div id="myTabContent" class="tab-content">

    <div class="wrapper wrapper-content tab-pane fade in active" id="home">


        <div class="tabs-container">
            <ul class="nav nav-tabs">
                <li class="active"><a data-toggle="tab" href="#tab-1" aria-expanded="true">基本信息</a></li>
            </ul>
            <div class="hr-line-dashed" style="border:0.5px dashed #bfbaba;"></div>
            <div class="tab-content">


                <!-- -------------------------------------1.会议详情------------------------------------------ -->

                <div id="tab-1" class="tab-pane active mytab">
                    <form id="article_form" class="form-horizontal" onsubmit="return false;">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label class="col-sm-1 control-label">会议名称</label>
                                <div class="input-group col-sm-5">
                                    <input type="text" placeholder="日期+地区+类型" name="name"
                                           value="{$meetting['name']}" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">

                                <label class="col-sm-1 control-label">类型：</span></label>
                                <div class="input-group col-sm-5">
                                    <select data-placeholder="选择类型" class="chosen-select" style="width:700px;"
                                            name="type2" id="type2">
                                        <option value="1" <?php if($meetting['type2']==1){echo 'selected';} ?>> 周例会</option>
                                        <option value="2" <?php if($meetting['type2']==2){echo 'selected';} ?>>月例会</option>
                                        <option value="3" <?php if($meetting['type2']==3){echo 'selected';} ?>>季度会</option>
                                        <option value="4" <?php if($meetting['type2']==4){echo 'selected';} ?>>半年会</option>
                                        <option value="5" <?php if($meetting['type2']==5){echo 'selected';} ?>>年终会</option>
                                        <option value="6" <?php if($meetting['type2']==6){echo 'selected';} ?>>培训会</option>
                                    </select>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="col-sm-1 control-label">日期：</span></label>
                                <div class="input-group date col-sm-5">
                                    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                                    <input type="text" class="form-control mdate"
                                           value="{$meetting['mdate']|default= date('Y-m-d')}" id="mdate"
                                           name="mdate">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">起止时间：</span></label>
                                <div class="input-group date col-sm-5">
                                    <input type="text" class="col-sm-2 mtime"
                                           value="{$meetting['starttime']|default= '09:00'}" id="starttime"
                                           name="starttime">
                                    <span class="col-sm-1"><i>-</i></span>
                                    <input type="text" class="col-sm-2 mtime"
                                           value="{$meetting['endtime']|default= '12:00'}" id="endtime"
                                           name="endtime">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">地址：</span></label>
                                <div class="input-group col-sm-6">
                                    <div id="cnMap">
                                        <div class="col-sm-3">
                                            <select name="province" class="province form-control"
                                                    data-first-title="选择省份" id="province">
                                                <option value="{$meetting['province']}" selected>
                                                    {$meetting['province']}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-3">
                                            <select name="city" id="city" class="city form-control">
                                                <option value="{$meetting['city']}" selected>{$meetting['city']}
                                                </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-3">
                                            <select name="area" id="area" class="region form-control">
                                                <option value="{$meetting['area']}" selected>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">详细地址：</span></label>
                                <div class="input-group  col-sm-5">
                                    <input type="text" placeholder="x小区x单元x栋x楼"
                                           value="{$meetting['addressdetail']}" class="form-control addressdetail"
                                           id="addressdetail" name="addressdetail">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">创建员工：</span></label>
                                <div class="input-group  col-sm-5">
                                    <select data-placeholder="选择员工" class="chosen-select" multiple
                                            style="width:350px;" name="uid" id="uid">
                                        <volist name='userlist' id='parent'>
                                            <if condition="$meetting['uid']==$parent['user_id']">
                                                <option value="{$parent['user_id']}" selected>
                                                    {$parent['user_nicename']}
                                                </option>
                                                <else/>
                                                <option value="{$parent['user_id']}">{$parent['user_nicename']}
                                                </option>
                                            </if>
                                        </volist>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">创建时间：</span></label>
                                <div class="input-group  col-sm-5">
                                    <input type="text" name="add_time" class="form-control"
                                           value="{$meetting['mdate']|default= date('Y-m-d H:i:s')}" disabled="">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label">会议状态：</label>
                                <div class="col-sm-5">
                                    <if condition="$meetting['status']==1">
                                        <input type="radio" checked="checked" value="1" id="status"
                                               name="status">未审核</label style="padding-left: 100px;">
                                        <else/>
                                        <input type="radio" checked="checked" value="1" id="status"
                                               name="status">已审核</label style="padding-left: 100px;">
                                    </if>
                                </div>
                            </div>
                            <div><input type="text" name="id" id="mid" value="{$meetting['id']}"
                                        style="display: none;">
                            </div>
                        </div>
                        <div class="row" style="margin-top:15px">
                            <div class="col-sm-2 col-sm-offset-2">
                                <input type="hidden" id="meetting_id" name="meetting_id"
                                       value="{$meetting['id'] | default = ''}"/>
                                <button class="btn btn-primary" type="submit"
                                        onclick="publishArticleSubmit();">保存内容
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    <js href="/static/js/admin/jquery.min.js"/>
    <js href="/static/js/admin/bootstrap.min.js"/>
    <js href="/static/js/admin/content.min.js"/>
    <js href="/static/js/admin/plugins/chosen/chosen.jquery.js"/>
    <js href="/static/js/admin/plugins/summernote/new_sumnote.js"/>
    <js href="/static/js/admin/plugins/summernote/summernote-zh-CN.js"/>
    <js href="/static/js/admin/plugins/layui/layer/layer.js"/>
    <js href="/static/js/admin/plugins/datapicker/bootstrap-datepicker.js"/>
    <js href="/static/js/admin/meetting.js"/>
    <js href="/static/js/cxjs/jquery.cxselect.min.js"/>

    <!-- modals-1.医院新增 -->
    <div id="user-modal-form" class="modal fade" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="user_form" action="" method="post" onsubmit="return false;">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"
                                aria-hidden="true">&times;
                        </button>
                        <h4 class="modal-title" id="myModalLabel">添加医院</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label>医院名称：</label>
                                    <div class="form-control" style="padding: 0; margin: 0;">
                                        <input type="text" placeholder="医院名称" name="hname"
                                               class="form-control hname" autocomplete="off" list="aaa"
                                               onblur="getHospital()">
                                        <datalist id="aaa" style="width:100px" size=10>
                                            <volist id="li_hospital" name="li_hospital">
                                                <option>{$li_hospital['name']}</option>
                                            </volist>
                                        </datalist>
                                    </div>
                                </div>
                                <input id="w_id" name="w_id" style="display: none;">
                                <div class="form-group">
                                    <label>其他名称：</label>
                                    <input type="text" placeholder="" readonly class="form-control"
                                           id="w_othername">
                                </div>
                                <div class="form-group">
                                    <label>性质：</label>
                                    <input type="text" placeholder="" readonly class="form-control"
                                           id="w_quality">
                                </div>
                                <div class="form-group">
                                    <label>省市区 ：</label>
                                    <input type="text" placeholder="" readonly class="form-control"
                                           id="w_province">
                                </div>
                                <div class="form-group">
                                    <label>是否分院：</label>
                                    <input type="text" placeholder="" readonly class="form-control"
                                           id="w_divided">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label id="user_pass_tip">医院编码：</label>
                                    <input type="text" placeholder="" readonly class="form-control"
                                           id="w_code">
                                </div>
                                <div class="form-group">
                                    <label>级别：</label>
                                    <input type="text" placeholder="" readonly class="form-control"
                                           id="w_level">
                                </div>
                                <div class="form-group">
                                    <label>详细地址：</label>
                                    <input type="text" placeholder="" readonly class="form-control"
                                           id="w_address">
                                </div>
                                <div class="form-group">
                                    <label>开发情况：</label>
                                    <input type="text" placeholder="" readonly class="form-control"
                                           id="w_development">
                                </div>
                                <div class="form-group">
                                    <label>主院名称：</label>
                                    <input type="text" placeholder="" readonly class="form-control"
                                           id="w_hostname">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="hidden" id="user_id" name="user_id" value=""/>
                        <input type="hidden" id="handle_type" name="handle_type" value="add"/>
                        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                        <button type="submit" class="btn btn-primary" onclick="addhospital();">确定</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

</body>
</html>
